<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan unsuccessful</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: black;
        }

        h1 {

            color: red;
            text-align: center;
            font-size: 50px;
        }
        img {

            max-width: 25%;
            height: auto;
        }
    </style>
</head>
<body>
    <form action="">
        <p style="text-align: center;">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/b3K6BRF/wrong.jpg" alt="wrong" border="0"></a>
        </p>
        <h1>Error: Please Scan Again</h1>
    </form>
</body>
</html>
